a.white:link {color: white}
a.white:visited {color: gray}
a.white:hover {color: white}
a.white:active{color: gray}
a.white{
    text-decoration: none;
}
div.tit {
    background-color:	#404040;
    padding: 5px;

}
div.empty{
    clear: both;
}
#tit_a{
    display: inline;
    position: relative;
    float: right;
    top:15px
}
li.tit{
    display: inline;
    font-size: small;
    font-family: 幼圆;

}
li.list{
    list-style-type: none;
}
ol.order{
    font-weight: 600;
}
img.logo{
    display: inline;
    position: relative;
    left: 80px;
    top:1px
}
img.insert{
    float: left;
    height: 200px;
    width: 250px;
}
img.show{
    height: 70px;
    width: 90px;
}
body{
    background-color: 	#E8E8E8;
}
div.article{
    background-color: white;
    margin:20px 20px 20px 20px;
    padding: 20px 20px 0px 20px;
    border-style: solid;
    border-width: thin medium medium thin;
    border-color: #D8D8D8 #909090 #909090 #D8D8D8;
    position: relative;

}
div.img{
    height: 130px;
    width: 120px;
    margin: 20px 50px;
    padding: 1px;
    border-style: solid;
    border-width: thin;
    border-color: #909090;
    text-align: center;

}
div.table{
    padding: 10px;
}
div.form{
    display: flex;
    justify-content: center;
    align-items: center;

}
footer.tail{
    background-color: black;
    text-align: center;
    padding: 10px;
}
h3.ar_secn_ti{
    color: #909090;
    font-size: 15px;
}
p.ar_name{
    color: #808080;
    font-size: 5px;
}
p.ar{
    font-family:"Courier New";
}
p.in_img_div{
    font-size: x-small;
}
p.hint{
    color: #808080;
    font-size: 5px;
    padding-top: -10px;
}
p.version{

    color: white;
}
tr.head{
    background-color: 	#484848;
    color: white;
}
tr.tail{
    background-color: #D0D0D0;
    font-weight: bold;
}
table.line{
    border-style: solid;
    border-collapse: separate;
    border-width: 1px;
    border-color: #E8E8E8;
    border-spacing: 0px;
    font-size: small;
    width: 90%;
}
table.noline{
    border-style: none;
    text-align: justify;


}
td{
    border: solid;
    border-width: 1px;
    border-color:#E8E8E8;
}
td.noline{
    text-align: right ;
    border-style: none;
    padding-top: 0px;
}
td.left{
    text-align: left;
    border-style: none;
}
button{
    background-color: #3366FF;
    color: white;
    width: 80%;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}