body{
    background-color: white;
}
div.out{
    background-color: #ccc;
    overflow: hidden;
    height: 200px;
    width: 400px;
    position: absolute;
    margin: -100px 0px 0px -200px;
    top:50%;
    left:50%;
}
div.left{
    border-radius: 50px;
    background-color: #fc0;
    width: 100px;
    height: 100px;
    position: relative;
    left: -50px;
    top:-50px;
}
div.right{
    border-radius: 50px;
    background-color: #fc0;
    width: 100px;
    height: 100px;
    position: relative;
    left:350px;
    top:50px;
}