body{
    background-color:#909090;
    position: relative;

}
div.body{
    background-color: white;
    height: 1386px;
    width: 980px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}
div.uppink{
    background-color: #F08080;
    height: 61px;
    width: 110px;
    position: relative;
    display: inline-block;

}
div.title{
    border-style: none;
    height: 61px;
    border-bottom: solid;
    border-color: #909090;
    margin: 0 auto;
    position: relative;
}
div.green{
    height: 301px;
    width: 191px;
    background-color: #006633;
    opacity: 0.5;
    position: relative;
    top:-305px;
    display: inline-block;
    z-index: 3;
}
div.pink{
    height: 301px;
    width: 191px;
    background-color:#F08080;
    opacity: 0.5;
    position: relative;
    top:-305px;
    left:259px;
    display: inline-block;
    z-index: 3;
}
div.up{
    width: 641px;
    height: 301px;
    margin-top: 30px;
    position: relative;
    border-style: none;
    display: inline-block;
    overflow: hidden;
}
div.line{
    position: relative;
    border-style: none;
    border-color: #cc8091;
    height: 301px;
    width: 203px;
    margin-top: 30px;
    float: right;

}
div.what{
    float: left;
    font-size: 12px;

    display: inline-block;
    opacity: 0.7;
    display: inline;
    margin-top: 0px;

}
div.percent{
    font-style: oblique;
    color: #cd4a48;
    font-family: 微软雅黑;
    font-size: 12px;
    display: inline-block;
    float: left;
    opacity: 0.7;
    display: inline;
    margin-top: 0px;

}
div.blue{
    width: 415px;
    border-bottom: 2px solid #11456b;
    display: inline-block;
    position: absolute;
    left:50px;
    top:700px;
    text-align: left;
}
div.right{
    width: 458px;
    height: 275px;
    display: inline-block;
    position: absolute;
    right: 50px;
    top:700px;
    overflow: hidden;
}
div.black{
    display: inline-block;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    bottom: 0px;
    width: 458px;
    height: 61px;
    z-index: 3;
    border-style: solid;
}
div.green2{
    height: 44px;
    font-size: 30px;
    border-color: #72b16a;
    color: white;
    z-index: 3;
    padding-left: 10px;
    position: relative;
    left: 30px;
    top:20px;
    font-weight: bold;
    display: inline;

}
p.green{
    color: #75b86b;
    font-size: 15px;
    display: inline;
    margin-left: 5px;
    font-style: oblique;

}
div.content{
    width: 415px;

    position: absolute;
    left:50px;
    top: 900px;
    margin-bottom: 20px;
    display: inline-block;

}
div.bottom{
    width: 459px;
    height: 318px;
    background-color: #F0F0F0;
    position: absolute;
    top:1020px;
    left: 570px;
}
p.web{
    color: white;
    font-size: 12px;
    position: absolute;
    bottom: -10px;
}
p.line{
    font-size: 24px;
    text-decoration: underline;
    font-family: 微软雅黑;
    font-variant: small-caps;
    float: left;
    margin-bottom:0px;
}
p.line2{
    font-size: 12px;
    color: #676767;
    font-family: 楷体;
    float: left;
    margin: 0px;

}
p.greennum{
    font-size: 116px;
    color: #75b86b;
    font-family: 微软雅黑;
    font-style: oblique;
    float: left;
    margin: 0px 0px 0px -20px;
    padding: 0px;
}
p.cssnum{
    color: #cc8091;
    font-size: 55px;
    font-family: 微软雅黑;
    float: left;
    margin: -30px 0px 0px 0px;
}
p.css1{
    color: #cc8091;
    font-size: 21px;
    font-family: 微软雅黑;
    float: left;
    margin: -5px 0px 0px 0px;
}
p.css2{
    color: #cc8091;
    font-size: 12px;
    font-family: 微软雅黑;
    float: left;
    margin: 15px -30px;
}
p.date{
    position: absolute;
    bottom: -10px;
    right:0px;
    font-size: 12px;
    color: #d45d5c;
    display: inline-block;
}
p.what{
    font-size: 12px;
    font-family: 宋体;
    color: #767777;
    position: relative;
    top: -23px;
}
p.when{
    font-size: 12px;
    font-family: 微软雅黑;
    color: #231815;
    position: relative;
    top: -14px;
    margin-top: 0px;
    opacity: 0.7;
}
p.how{
    font-size: 12px;
    font-family: 微软雅黑;
    color: #231815;
    position: relative;
    top: -8px;
    opacity: 0.7;
}
p.content{
    font-size: 12px;
    font-family: 宋体;
    color: #767777;
    float: left;
    line-height: 16px;
    clear: both;
}
span.the{
    font-size: 72px;
    color: #f5e327;
    font-family: 黑体;
    font-weight: bold;
    font-style: oblique;
    margin-bottom: 20px;
    margin: 0px 20px 0px 0px ;



}
p.techo{
    font-size: 42px;
    color: #11456b;
    font-family: 黑体;
    font-weight: bold;
    margin: 0px;


}
p.front{
    font-size: 33px;
    color: #11456b;
    font-family: 黑体;
    font-weight: bold;
    position: relative;
    left:0px;
    bottom: 0px;
    margin: 0px;
}
img.up{
    width: 641px;
    height: 301px;
    display: inline-block;
    z-index: 1;


}
img.right{
    width: 458px;
    height: 275px;
    z-index: 1;
}
img.left{
    float: right;
    margin: 10px;
}
table.table{
    width: 641px;
    position: relative;
    margin: 50px 0px;
}
td{
    position: relative;
    width: 50px;

}
td.what{
    color:#418c59 ;
    font-size: 16px;
    font-family: 微软雅黑;
    font-weight: bold;
    text-decoration: underline;
}
td.when{
    color: #d2994f; ;
    font-size: 16px;
    font-family: 微软雅黑;
    font-weight: bold;
    text-decoration: underline;
    opacity: 0.7;
}
td.how{
    color:#cc7680 ;
    font-size: 16px;
    font-family: 微软雅黑;
    font-weight: bold;
    text-decoration: underline;

}
ul.list{
    width: 400px;
    margin: 20px;
    letter-spacing: 10px;
    margin-left: -20px;

}
span.front{
    font-size: 12px;
    color: #5a5b5b;
    font-family: 宋体;
    font-style: oblique;
}
li{
    margin: 20px;
    font-family: 微软雅黑;
    font-size: 15px;
    color: #767777;
}
div.downpink{
    background-color: #F08080;
    position: absolute;
    bottom: 0px;
    margin: 0px;
    width:250px;
    height: 150px;

}
p.zero{
    font-size: 80px;
    color: white;
    font-weight: bold;
    display: inline;
    position: relative;
    top:40px;
    left:10px;

}
div.one{
    display: inline-block;
    width: 150px;
    position: relative;
    top:40px;
    left: 10px;
    height: 80px;
    padding-left: 20px;
    border-left: 2px solid white;
}
p.one{
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    font-style: oblique;
}

p.hello{
    color: white;
    font-size: 5px;
    margin: 0px;
}
p.hello2{
    color: #5a5b5b;
    font-size: 14px;
    line-height: 16px;
    font-family: 黑体;
    font-style: oblique;
    height: 160px;
    width: 200px;
    position: relative;
    left:260px;
    top:50px;
    text-indent: 2em;
}
div.btline{
    border-top: 1px solid #93818c;
    text-align: right;
    font-size: 12px;
    color: #d45d5c;
    position: absolute;

    width: 980px;
    bottom: 10px;


}